
body{

  margin:0;
  padding:0;
  background-color:#FFC5C5;

}

div{

  height:50px;
  width:100%;
  background-color:#45462a;
  display:flex;
  align-items:center;
  padding:0 20px;
  background-image:url("cafe logo.jpg");
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: left center; 
  height: 150px;
  position: sticky;
  



}




.the{


  padding-left:135px;
  text-decoration:none;
  font-family:Zodiak;
  font-weight:547;
  color: #e2c101;
  transition: 0.3s ease;
  

}

.the:hover {
  color: white;            
  background-color: #6d6e3c; 
  border-radius: 5px;      
      
   
}

#contentop{




background-color:#FFC5C5;
padding:0 20px;
background-image:url("b10d9994-2493-4d0a-8aaf-49e0696ac6ad.jpeg");
border-radius: 50px;
background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px; 
  width: 80%;  
  margin: auto;





}
#quote{

  font-family:"Playwrite AU QLD", cursive;
  text-align: center;
  font-size: 25px;
  color:#58260b;
  
}
.container {
  display: flex;
  justify-content: space-between;  
  margin: 20px;
}

.a {
  height: 190px;
  width: 340px;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  display: flex;           
  align-items: center;
  justify-content: center;
   font-family:"dancing script", cursive;
}

.coffee {
  background-color: rgb(5, 43, 43);
  background-image:url("Perfect Your Cup Brewing Secrets for Indonesian Coffee Beans.jpeg");
  background-position: center;
  background-size: contain;

}

.tea {
  background-color: rgb(43, 5, 43);
  background-image:url("chaiop.jpeg");
   background-position: center;
   background-size: contain;

}

.snacks {
  background-color: rgb(43, 43, 5);
  background-image:url("snacks.jpeg");
   background-position: center;
   background-size: contain;

}
