#backcolor{

    padding-left:4px;
    height:80px;
    background-color:rgb(28, 24, 24);
    

}

#logo{

    font-size:25px;
    color:rgb(7, 224, 224);
    font-family:serif;
    
    
}

.the{
    
    padding-left:40px;
    color:rgb(235, 182, 9);

}

